@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Playwrite+GB+J+Guides:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background: #bac2ca;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 25vh 40vw;
}

.column, .row{
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
    align-items: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
    
}

.brand-image{
    height: 5rem;
    width: 5rem;
}



.google-icon{
    height: 2rem;
    width: 2rem;
}

.h2{
    margin: 1.25rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 5vw;
    letter-spacing: 0.1rem;
}

.search-bar{
    gap: 0;
}
.search-bar-input{
    margin: 0.15rem;
    width: 18rem;
    height: 1.5rem;
    border: white solid;
    border-radius: 1rem;
}

.search-bar{
    background-color: white;
    opacity: 0.75;
    box-shadow: 0.2rem 0.2rem 0.9rem black;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 21rem;
}


.site-image{
    height: 6rem;
    width: 6rem;
    border: white solid;
    border-radius: 3rem;
}

 .row-item{
    /* border: black 2px solid; */
    list-style: none;
} 

.site-icon{
    background: white;
    box-shadow: 0.2rem 0rem 0.2rem black;
    padding: 1rem;
    border-radius: 1rem;
}

.site{
    text-align: center;
}
